# Python Stats assignment

## Elijah Blige

## Import Modules

In [39]:
import pandas as pd
import numpy as np

## Reading in the data and printing top of data frame

In [12]:
df = pd.read_csv("brain_size.csv",sep=';', na_values=".")
print(df.head())

   Unnamed: 0  Gender  FSIQ  VIQ  PIQ  Weight  Height  MRI_Count
0           1  Female   133  132  124   118.0    64.5     816932
1           2    Male   140  150  124     NaN    72.5    1001121
2           3    Male   139  123  150   143.0    73.3    1038437
3           4    Male   133  129  128   172.0    68.8     965353
4           5  Female   137  132  134   147.0    65.0     951545

## Creating 3 example arrays

In [8]:
t = np.linspace(-6, 6, 20)
sin_t = np.sin(t)
cos_t = np.cos(t)

## Creating a dataframe using the 3 example arrays

In [46]:
pd.DataFrame({'t': t, 'sin': sin_t, 'cos': cos_t})

           t       sin       cos
0  -6.000000  0.279415  0.960170
1  -5.368421  0.792419  0.609977
2  -4.736842  0.999701  0.024451
3  -4.105263  0.821291 -0.570509
4  -3.473684  0.326021 -0.945363
5  -2.842105 -0.295030 -0.955488
6  -2.210526 -0.802257 -0.596979
7  -1.578947 -0.999967 -0.008151
8  -0.947368 -0.811882  0.583822
9  -0.315789 -0.310567  0.950551
10  0.315789  0.310567  0.950551
11  0.947368  0.811882  0.583822
12  1.578947  0.999967 -0.008151
13  2.210526  0.802257 -0.596979
14  2.842105  0.295030 -0.955488
15  3.473684 -0.326021 -0.945363
16  4.105263 -0.821291 -0.570509
17  4.736842 -0.999701  0.024451
18  5.368421 -0.792419  0.609977
19  6.000000 -0.279415  0.960170

## Look at the dataframe's dimesions

In [13]:
df.shape

(40, 8)

## Look at the columns of the dataframe

In [14]:
df.columns

Index(['Unnamed: 0', 'Gender', 'FSIQ', 'VIQ', 'PIQ', 'Weight', 'Height',
       'MRI_Count'],
      dtype='object')

## Printing out the top gender column

In [28]:
print(df['Gender'].head())

0    Female
1      Male
2      Male
3      Male
4    Female
Name: Gender, dtype: object

## Taking the mean VIQ for females in the dataframe

In [18]:
df[df['Gender'] == 'Female']['VIQ'].mean()

np.float64(109.45)

## Grouping the dataframe by gender and taking the mean VIQ for both genders

In [20]:
groupby_gender = df.groupby('Gender')
for gender, value in groupby_gender['VIQ']:
    print((gender, value.mean()))

('Female', np.float64(109.45))
('Male', np.float64(115.25))

## Taking the mean for all stats for both genders

In [21]:
groupby_gender.mean()

        Unnamed: 0   FSIQ     VIQ     PIQ      Weight     Height  MRI_Count
Gender
Female       19.65  111.9  109.45  110.45  137.200000  65.765000   862654.6
Male         21.35  115.0  115.25  111.60  166.444444  71.431579   954855.4

## Calculating the mean VIQ for the full population

In [25]:
meanVIQ = df["VIQ"].mean()
print("The mean VIQ for the gull population is",meanVIQ)

The mean VIQ for the gull population is 112.35

## Counting the number of males and females in the study

In [26]:
numF = len(df[df['Gender'] == 'Female'])
numM = len(df[df['Gender'] == 'Male'])
print("The number of females that participating in the study is",numF)
print("The number of Males that participating in the study is",numM)

The number of females that participating in the study is 20
The number of Males that participating in the study is 20

## Calculating the average MRI counts for both males and females

In [ ]:
## Come back to this not hard just look for log unit

## Making scatter mattrices of Weight, Height , and MRI Counts

In [44]:
from pd.tools import plotting

ModuleNotFoundError: No module named 'pd'